nav {
  background-color: rgba(247, 243, 138, 0.5);
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  width: 1000px;
}
button {
  font-size: 1em;
  margin: 1em;
  padding: 1em 30px;
  background-color: rgba(34, 34, 206, 0.5);
  display: flex;
  background-color: #e5c762;
  border: none;
}

#shop {
  flex-grow: 0.3;
  justify-content: space-between;
  align-items: center;
}

button img {
  display: flex;

  width: 50px;
}
